body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5;
    padding: 0;
    text-align: center;

}

nav {
    background-color: rgb(98, 64, 105);
    padding: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

.hero {
    padding: 50px;
    background-color: rgb(98, 64, 105);
}

.hero img{
    width: 150px;
    border-raduis:50%:
}

section {
    padding: 25px;
}